*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.main{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #00FF00;
	
}


nav{
	width: 100%;
	position: sticky;
	margin: 10px auto;
	z-index: 5;
	display: flex;
	align-items: center;
}

.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	margin: 0 0;
}
.nav-links ul li a{
	color: #000000;
	text-decoration: none;
}
.components{
	width: 400px;
	height: 400px;
	margin: 0,20px;
	position: absolute;
	top: 55%;
	left: -5%;
	transform: translateY(-50%);
}
#circle{
	width: 450px;
	height: 450px;
	align-items: center;
	position: absolute;
	top: 0%;
	left: -5%;
	border-radius: 50%;
	transform: rotate(0deg);
	transition: 1s;
	

}
.spec img{
	width: 70px;
}
.spec{
	position: absolute;
}
.one{
	top: 200px;
	right: 60px;
	
}
.two{
	top: 60px;
	left: 200px;
	transform: rotate(-90deg);
	
}
	
.three{
	bottom: 200px;
	left: 60px;
	transform: rotate(-180deg);
	
	
}

.four{
	bottom: 60px;
	right: 200px;
	transform: rotate(-270deg);
	
}


.laptop{
	width: 100px;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	z-index: 1;

}
.controls{
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
}
.controls h4{
	margin: 15px 0;
	color: fff;

}

#arrowBtn{
	width: 15px;
	cursor: pointer;
	transform: rotate(180deg);
}

.overlay{
	width: 0;
	height: 0;
	border-top: 200px solid #000000;
	border-right: 200px solid #FFFFFF;
	border-bottom: 200px solid #000000;
	border-left: 200px solid #000000;
	position: absolute;
	left: 0;
	top: 0;
	}

.fixed-header{
	background-color:#000000;
	color: white;
	border-color:#449D44;
	padding:20px;		
}

.fixed-footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: #000000;
	height: 30px;
	color: white;
	padding: 30px;
}
.rst-header-buttons{
	color: white;
}
#home-title{
	width:90%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

